  <h1>Change the Act for <%= @performer.name if @performer %> </h1>

  <%= form_tag move_performer_path do %> 

  <% Act.all.each do |a| %>
  <div class="checkbox"> 
    <%= check_box_tag('act[]', a.id, a.performers.include?(@performer), :id => a.name ) %>
    <%= label_tag a.name %>
  </div>
  <% end %>

  <div class="actions">
    <%= submit_tag "Update" %>
  </div>
  <% end %>

