<!DOCTYPE html>
<html>
<head>
  <title>AmoebaCircusOnRailsRuby003</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to 'Acts', acts_path %> | <%= link_to 'Performers', performers_path %> |
  <%= link_to 'Dashboard', index_path %>

<%= yield %>

</body>
</html>
